<a href="https://colab.research.google.com/github/among5094/Big-Data-Integrated-Analysis/blob/main/week02_CH02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%B5%EC%8B%AC_%EB%AC%B8%EB%B2%95/2week_0317_Mon_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER02 파이썬 핵심 문법
### 날짜: 3월 17일 월요일( 2주차 )

### 2.2 변수

In [ ]:
print("안녕 파이썬!")

안녕 파이썬!

In [ ]:
# 변수 할당(assignment)
name = 'Kim'

In [ ]:
# 변수 생성 및 규칙

x=100
x=97.5

char='Lee'

### 2.3 연산자

In [ ]:
# 연산자
x=10
y=20
print(x+y)

30

In [ ]:
a=100
print(a)

100

In [ ]:
a=100
a=200 # 마지막에 할당된 변수
print(a)

200

In [ ]:
name = '이순신'
addr = '서울시'
print(name, addr) # c언어는 print하려고 하면 format을 사용해야했는데 그러지 않아도 되어서 편함.

이순신 서울시

In [ ]:
age=20
age=age+5
print('5년 후 나이:', age)

5년 후 나이: 25

In [ ]:
x=10
y=20
print(x+y) # 덧셈
print(x-y) # 뺄셈
print(x*y) # 곱셈
print(x/y) # 나눗셈
print(x%y) # 나머지
print(x**2) # 거듭제곱
print(x//y) # 몫

30
-10
200
0.5
10
100
0

In [ ]:
start = '파이썬'
end='짱!'
start+end

'파이썬짱!'

In [ ]:
word='파이썬 '
word*5

'파이썬 파이썬 파이썬 파이썬 파이썬 '

### 2.4 표준 입.출력

In [ ]:
# input()함수를 이용하여 자료를 입력받고 저장
name=input('이름입력: ')
print(name)

이름입력: 냥
냥

In [ ]:
x=int(input('숫자1 입력: '))
y=int(input('숫자2 입력: '))
print(x+y)

숫자1 입력: 10
숫자2 입력: 20
30

In [ ]:
z=float(input('숫자 입력: '))
print(z)

숫자 입력: 3.3
3.3

In [ ]:
print('파이썬')
print('짱')

파이썬
짱

In [ ]:
# end옵션: 줄바꿈제어
print('파이썬', end=' ')
print('짱')

파이썬 짱

In [ ]:
# 콤마(,)를 이용한 출력
name = input('이름 입력: ')
print('이름:', name)

이름 입력: 혜민
이름: 혜민

In [ ]:
# 파이썬도 형식 지정 가능
name = input('이름 입력: ')
print('이름 %s' % name)

이름 입력: 혜민
이름 혜민

In [ ]:
# %d 형식지정자를 이용한 출력
x=int(input('숫자1 입력: '))
y=int(input('숫자2 입력: '))
print('%d + %d = %d' % (x,y,x/y))

숫자1 입력: 20
숫자2 입력: 30
20 + 30 = 0

In [ ]:
# %f 형식지정자를 이용한 출력
x=int(input('숫자1 입력: '))
y=int(input('숫자2 입력: '))
print('%d + %d = %f' % (x,y,x/y))

숫자1 입력: 3
숫자2 입력: 3
3 + 3 = 1.000000

In [ ]:
# format() 함수를 이용한 출력
x=int(input('숫자1 입력: '))
y=int(input('숫자2 입력: '))
print('{0} * {1} = {2}'. format(x,y,x*y))

In [ ]:
# 중괄호 순서를 변경하고 자료를 반복하여 출력
print('{1} {1} 작은 {0}'. format('별', '반짝'))

반짝 반짝 작은 별

In [ ]:
# f-string 포맷팅을 이용한 출력
x=int(input('숫자1 입력: '))
y=int(input('숫자2 입력: '))
print(f'{x} - {y} = {x-y}')

숫자1 입력: 30
숫자2 입력: 022
30 - 22 = 8

### 2.5 컬렉션 자료형

#### (2) 리스트
1. 리스트를 만들 때는 [] 를 사용한다.
2. 리스트 값을 찾을 때, index로 찾을 수 있다. -> 순서 있음
3. 리스트는 값을 변경할 수 있다.
4. 보통 동일한 자료형으로 구성되는데, 서로 다른 자료형이 들어가도 괜찮다.

In [1]:
# 리스트 변수 사용

x=[0,0,0,0]
x[0]=int(input('숫자1 입력: '))
x[1]=int(input('숫자2 입력: '))
x[2]=int(input('숫자3 입력: '))
x[3]=int(input('숫자4 입력: '))

sum=x[0]+x[1]+x[2]+x[3]
print('합계:', sum)

숫자1 입력: 1
숫자2 입력: 2
숫자3 입력: 3
숫자4 입력: 4
합계: 10

In [3]:
x=[15,25,35,45]
print(x)

[15, 25, 35, 45]

In [4]:
# 인덱싱
x[0]+x[1]

40

In [5]:
x[0] # 리스트의 첫번째 요소 반환

15

In [6]:
x[-1] # 리스트의 마지막 요소 반환

45

Q. 왜 리스트의 정방향은 인덱스 0으로 시작하고 역방향은 -1인가?  
A. 정방향이 [0]이고 역방향이 [-0]이라고 치면 결국 0으로 같으니까 역방향은 뒤에서부터 [-1]로 시작하는 게 맞다.

In [ ]:
x[4] # 없는 값을 불러오니까 오류

In [ ]:
# 리스트 슬라이싱 사용하기
x = [10,20,30,[40,50]]
x[0:2] # 슬라이싱의 범위는 [n:m]이라면, 출력은[n:m-1]이다.

[10, 20]

Q. 왜 슬라이싱의 범위는 [n:m]인데, 출력은 [n:m-1]일까?   
A. 슬라이싱 범위 영역은 **"반열린 구간" (half-open interval) 개념**을 따름. 즉, **[시작:끝)**임  
  
왜 반열린 구간으로 설계했을까? -> 코드를 더 직관적으로 만들기 위해  
1.  요소 개수를 쉽게 계산할 수 있음  
- 예를들어 x[n:m]에서 가져오는 요소의 개수는 m - n 개임.
2. 리스트 길이(len())와 잘 맞음  
- 예를들어 x[1:4] → 4 - 1 = 3개 요소를 가져옴.  
- x[:m]을 하면 처음부터 m-1까지 출력되며 m개 요소를 가짐등등...  
3. 루프에서 더 편리함.  
- c언어는 끝값을 수동으로 조절하지만, 파이썬은 그럴필요x
- for i in range(n, m): 일 때, range(n, m)도 [n, m-1]까지만 반복하므로 일관성이 있음.

In [ ]:
# x[n:]은 x[n]부터 끝까지
x[1:]

[20, 30, [40, 50]]

In [ ]:
# x[:m]은 처음부터 x[m-1]까지
x[:2]

[10, 20]

In [ ]:
# 역순 -> 뒤에서부터 출력
x[-1]

[40, 50]

In [ ]:
# 이중슬라이싱
x[3]

[40, 50]

In [ ]:
# 이중 리스트 슬라이싱
x[3][0] # 세 번째 인덱스의 0번째 부르기

40

In [ ]:
x[3][1] # 세 번째 인덱스의 1번째 부르기

50

In [ ]:
# 리스트 값 변경
a=[10,20,30]
print(a)

[10, 20, 30]

In [ ]:
# 리스트는 값 변경 가능
a[0]=100
print(a)

[100, 20, 30]

#### (3) 튜플
- 값 변경 불가능. read Only

In [7]:
x=(1,2,3)
print(x)

(1, 2, 3)

In [ ]:
# 튜플의 인덱싱 및 슬라이싱
x=(10,20,30,40)
x[0]

In [ ]:
x[-1]

#### (4)딕셔너리
- 키로 데이터를 찾을 수 있다.
- {}로 이루어진다.
- 수정 가능
- 순서는 상관없다.

In [8]:
# 빈 딕셔너리 생성 및 초기화
fruit={1:'수박', 2:'참외', 3:'복숭아'}
print(fruit)

{1: '수박', 2: '참외', 3: '복숭아'}

In [9]:
# 딕셔너리 요소 접근
menu={'김밥':3000, '라면':5000}
menu['김밥']

3000

In [ ]:
# 키 값으로 데이터 찾기
menu['라면']

5000

In [ ]:
"""
menu['라면']=5000
menu['라면']
"""

5000

In [12]:
# 딕셔너리 제어 함수

menu.items() # 딕셔너리에 저장된 모든 키와 값 반환

dict_items([('김밥', 3000), ('라면', 5000)])

In [13]:
menu.keys() # 딕셔너리에 저장된 모든 키 반환

dict_keys(['김밥', '라면'])

In [14]:
menu.values() # 딕셔너리에 저장된 모든 값 반환

dict_values([3000, 5000])

#### (5) 세트
- 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
- 중복안됨!  
- 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없음.

In [ ]:
# 세트 초기화
x={10,20,30,20}
x # set이라서 마지막 중복은 제거되니까

{10, 20, 30}

In [ ]:
# 세트 연산
x={10,20,30}
y={20,40}
x&y # 교집합

{20}

In [ ]:
# 교집합
x.intersection(y)

{20}

In [ ]:
# 합집합
x|y

{10, 20, 30, 40}

In [ ]:
x.union(y) # 합집합

{10, 20, 30, 40}

In [ ]:
x-y # 차집합

{10, 30}

In [ ]:
x.difference(y) # 차집합

{10, 30}

#### 2.6 리스트 내포(List comprehension)

- 원하는 자료들을 조회 또는 추출하여 리스트로 변환하는 표현식
- 파이썬에서 리스트를 빠르고 간결하게 생성할 때 사용
- [표현식 for 요소 in 반복가능객체 if 조건문]
1. 반복가능객체(iterable)에서 요소를 하나씩 가져온다.
2. if 조건문이 있으면 해당 조건을 만족하는 요소만 처리한다. (조건이 없으면 모든 요소를 처리)
3. 표현식을 적용하여 값(결과)을 생성한다.
4. 새로운 리스트에 추가한다.
5. 반복가능객체의 모든 요소에 대해 위 과정을 반복한다.

정리: 반복 → 조건 체크(선택) → 변환(표현식) → 리스트 추가

In [ ]:
# 기본적인 리스트 내포 형식
num=[-20,-10,0,10,20]
[x+5 for x in num]

[-15, -5, 5, 15, 25]

In [ ]:
# 조건 있는 리스트 내포 형식
num=[-20,-10,0,10,20]
[1/x for x in num if x>0]

[0.1, 0.05]

In [ ]:
# 조건 있는 리스트 내포 형식
num=[-20,-10,0,10,20]
[1/x for x in num if x!=0]

[-0.05, -0.1, 0.1, 0.05]

In [15]:
# 추가적인 예시- 제곱 리스트 만들기

numbers = [1, 2, 3, 4, 5]
squared = [x**2 for x in numbers]
print(squared)

[1, 4, 9, 16, 25]

#### 2.7 선택문

- 파이썬의 제어문은 2가지 있다. 선택문과 반복문.
- 선택문은 if-elif-else 구조
-

In [16]:
# 선택문 (if-elif-else) 예시
score = 85

if score >= 90:
    print("A 학점")
elif score >= 80:
    print("B 학점")
else:
    print("C 학점")

B 학점

#### 2.8 반복문과 기타 제어문
- 반복문은 for문과 while문이 있다.
- for문은 범위의 횟수 동안 특정 문장을 여러번 실행
- while문은 조건식의 결과가 True이면 여러번 반복실행, False이면 반복 종료

In [17]:
# 반복문 - for문 예시
for i in range(1, 6):
    print(f"Hello {i}")

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [18]:
# 반복문 - while문 예시
count = 3
while count > 0:
    print(f"남은 횟수: {count}")
    count -= 1

남은 횟수: 3
남은 횟수: 2
남은 횟수: 1

#### 2.9 함수
- 함수는 내장함수와 사용자 정이 함수가 있다.
- 내장 함수는 프로그램에 이미 지정된 함수
- 사용자 정의 함수는 사용자가 필요에 의해 직접 정의하는 함수

In [22]:
# 내장 함수
for var1, name in enumerate(['수박', '참외', '자두']):
  print(x, name)

(1, 2, 3) 수박
(1, 2, 3) 참외
(1, 2, 3) 자두

❗❗❗❗❗❗❗❗❗  
**내장 함수 이름을 변수명으로 사용하면 해당 내장 함수를 사용할 수 없게 된다!!**  
 파이썬에서는 변수를 선언하면 그 변수명이 기존의 내장 함수명을 덮어써버림
  
sum = 10  # 내장 함수 덮어썼다면?  
del sum  # sum 변수 삭제 (내장 함수 복구)

In [27]:
# 내장 함수 예시
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(len(numbers))  # 리스트 개수
print(max(numbers))  # 최댓값 찾기

del sum # # sum 변수를 삭제하여 내장 함수 복구
print(sum(numbers))  # 리스트 합구하기

8
8
36

In [29]:
# zip() 함수 사용
num = [1,2,3]
char = ['A', 'B', 'C']
for item in zip(num,char):
  print(item)

(1, 'A')
(2, 'B')
(3, 'C')

In [34]:
# 난수 생성 예시
import random
for i in range(10):
  var2 = random.random()
  print(var2)

0.17016982181474638
0.9134910621718699
0.31894440661879375
0.18293855867801223
0.6646927847935146
0.29608952301592084
0.6406477205908413
0.7671581700309691
0.7199105956427206
0.5144520441909959

In [ ]:
# 사용자 정의 함수

In [ ]:
# 람다 표현식 작성