<a href="https://colab.research.google.com/github/among5094/Big-Data-Integrated-Analysis/blob/main/week02_CH02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%B5%EC%8B%AC_%EB%AC%B8%EB%B2%95/CH02%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH02장 연습문제

### 1번 사용자로부터 학교 이름, 본인 이름, 연락처를 변수에 저장하여 출력해 보시오.

- 변수명: 학교 이름(univ), 학과(dept), 연락처(phone)

In [4]:
# 학생의 기본 정보 입력
univ='한국대'
dept='컴공'
name='이순신'
phone='010-1234-5678'

# 입력된 정보를 출력
print('학교:',univ)
print('학과:',dept)
print('이름:',name)
print('연락처:',phone)

학교: 한국대
학과: 컴공
이름: 이순신
연락처: 010-1234-5678

### 2번 카페 총 매출액과 순수익을 출력하는 프로그램을 작성하시오.

- 변수명: 아메리카노(ame), 카페라떼(cafelatte), 카푸치노(cappuccino), 총매출(total)
- 가격: ame=2000, cafelatte=3500, cappuccino=3500
- 하루 판매 수량은 각각 20개, 15개, 15개이며, 하루 재료비는 100,000원이다.

In [3]:
# 커피 가격 설정
ame=2000
cafelatte=3500
cappuccino=3500

# 총 원가 설정
cost=100000

# 총 매출 계산
total = ame*20+cafelatte*15+cappuccino*15

# 순이익 계산 (총 매출 - 원가)
income = total - cost

# 결과 출력
print('총매출 : ', total)
print('순이익 : ', income)

총매출 :  145000
순이익 :  45000

### 3번 이름과 출생년도를 입력받아 한국 나이를 출력하는 프로그램을 작성하시오.

In [5]:
# 사용자에게 입력받기
name = input('이름 입력: ')
year = int(input('출생년도 입력: '))

# 한국식 나이 계산: (기준년도 - 출생년도) + 1
age = 2019 - year + 1

# 결과 출력
print('{}님의 한국 나이는 {}살'.format(name,age))

이름 입력: 이순신
출생년도 입력: 2002
이순신님의 한국 나이는 18살

### 4번 다음의 파이썬 코드 실행 결과가 나오도록 밑줄을 채우시오.

In [6]:
# 관광지 이름을 저장한 리스트 생성
spot = ['을지로', '가로수길', '홍대', '대학로']

# 데이터 슬라이싱
select = spot[2:]

# 슬라이싱 결과 출력
print(select)

['홍대', '대학로']

### 5번 다음과 같은 실행 결과가 나오도록 밑줄에 알맞은 함수를 작성하시오.

In [12]:
# 학번(숫자)을 key, 이름을 value로 하는 딕셔너리 생성
person = {100:'이순신', 200:'강감찬', 300:'김유신'}

# 딕셔너리의 키(key) 목록을 리스트로 변환하여 출력
list(person.keys()) # [100, 200, 300]

# 딕셔너리의 값(value) 목록을 리스트로 변환하여 출력
list(person.values()) # ['이순신', '강감찬', '김유신']

# 딕셔너리의 키-값 쌍을 (key, value) 형태의 튜플로 묶어 리스트로 반환
list(person.items()) # [(100, '이순신'), (200, '강감찬'), (300, '김유신')]

# 키 200에 해당하는 값을 가져오기
person.get(200) # '강감찬'

# 키 100의 항목을 딕셔너리에서 삭제
del(person[100])

# 삭제 이후 딕셔너리 출력
print(person) # {200: '강감찬', 300: '김유신'}

{200: '강감찬', 300: '김유신'}

### 6.  다음은 채팅 앱에 친구를 등록하고 이름으로 검색한 후 연락처를 출력하는 프로그램이다. 다음 실행 결과와 같이 출력되도록 빈칸에 알맞은 코드로 완성하시오.

- 딕셔너리 자료구조를 사용하여 친구의 이름과 연락처를 저장한다(임의대로).

- 딕셔너리에서 전체 친구의 이름만 검색하여 리스트로 변환한 후 출력한다.

- 찾는 친구가 있으면 연락처를 출력하고, 없으면 오류 메시지를 출력한다.

- 찾는 친구의 이름은 사용자로부터 입력받아 처리한다.

In [13]:
# 빈 딕셔너리 생성
addr={}

# 이름과 연락처를 딕셔너리에 추가
addr['이순신']='010-1111-1234'
addr['강감찬']='010-2222-1234'
addr['김유신']='010-3333-1234'
addr['안중근']='010-4444-1234'
addr['유관순']='010-5555-1234'

# 등록된 친구들의 이름만 리스트 형태로 출력
print(list(addr.keys()))
print() # 줄바꿈

# 찾는 친구
name=input('찾는 이름 : ')
print(addr.get(name,'없는 이름'))

['이순신', '강감찬', '김유신', '안중근', '유관순']

찾는 이름 : 김유신
010-3333-1234

### 7번

In [17]:
# 두 개의 동아리(A, B)에 속한 학생들을 set 자료형으로 정의
clubA = {'김유신', '이순신', '강감찬'}
clubB = {'이순신', '계백', '최영'}

# 합집합
clubC=clubA.union(clubB)
print(clubC) # {'강감찬', '최영', '김유신', '계백', '이순신'}

# 교집합
print(clubA.intersection(clubB)) # {'이순신'}

# 차집합(A에는 있지만 B에는 없는 학생)
print(clubA.difference(clubB)) # {'강감찬', '김유신'}

# 차집합 (B에는 있지만 A에는 없는 학생)
print(clubB.difference(clubA)) # {'계백', '최영'}

# A 동아리에 '이황'을 추가
clubA.add('이황')
clubA # {'강감찬', '김유신', '이순신', '이황'}

# B 동아리에서 '계백'을 제거
clubB.remove('계백')
clubB # {'이순신', '최영'}

# 최종 출력
print('A동아리:',clubA)
print('B동아리:',clubB)

{'이순신', '김유신', '최영', '강감찬', '계백'}
{'이순신'}
{'김유신', '강감찬'}
{'최영', '계백'}
A동아리: {'이순신', '김유신', '강감찬', '이황'}
B동아리: {'최영', '이순신'}

### 8번

In [18]:
food=['사과','바나나','초콜렛','디저트','멜론','샤인머스켓']
result= [ i for i in food if len(i) == 3 ]
print(result)

['바나나', '초콜렛', '디저트']

### 9번

### 10번

### 11번

### 12번

### 13번

### 14번